html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8dc;
    box-shadow: inset 0 0 10vw rgb(219, 178, 56);
}

#puzzle-holder, #puzzle-holder * {
    box-sizing: border-box;
}

#puzzle-holder {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    aspect-ratio: 1 / 1;
    max-width: 80%;
    max-height: 80%;
    border: 3px solid black;
    background-color: black;
}
#puzzle-holder.solved::after {
    border: 3px solid lime;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    box-shadow: inset 0 0 1rem lime;
}

#puzzle-holder .puzzle-piece {
    position: relative;
    width: 33.33%;
    height: auto;
    cursor:pointer;
    /* border: 5px solid yellow; */
}

#puzzle-holder .puzzle-piece.selected::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    box-shadow: inset 0 0 1rem 0.5rem yellow;
}

#puzzle-holder:not(.solved) .puzzle-piece.correct::after {
    /* border: 5px solid lime; */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    box-shadow: inset 0 0 1rem lime;
}

#puzzle-holder .puzzle-piece img {
    display: block;
    width: 100%;
    height: auto;
    user-select: none;
    pointer-events: none;
}


